body{
  background-image:url("../images/beatles_background.jpg");
  background-repeat:no-repeat;
  background-size: 1920px 1080px;
  background-attachment: fixed;
}

nav{
   height:120px;
}
#category-search{
  display: inline-block;
  width: 200px;
  margin-left: 500px;
}

.product-title{
  display: inline-block;
}

#quote{
  font-style: italic;
  margin: auto;
}

a{
  color: blue;
}
a:hover{
  color: #bf360c;
}
img{
   margin: auto;
}
  body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

#signin{
  height: 700px;
}
#register{
  width: 400px;
  height: 300px;
  display: inline-block;

}
#login{
  width: 400px;
  height: 300px;
  display: inline-block;
  vertical-align: top;

}

#shipping{
  width: 1000px;
  margin: auto;
}

#table-cart{
  width: 1000px;
  margin: auto;
}

.products{
  height: 300px;
  width: 300px;
  margin: 10px;
}

#show-image{
  width: 300px;
  height: 300px;
}
