<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <style media="screen">
    .admin-login{
      width: 400px;
      height: 300px;
      margin: auto;
    }
    </style>
  </head>
  <body>
    <div class="admin-login">
    <form action="/admin" method="post">
    <fieldset>
      <legend>Admin Login</legend>
    Email: <input type="text" name="email">
    Password: <input type="text" name="password">
      <button class="btn waves-effect waves-light" type="submit" name="action">Login
      <i class="material-icons right"></i>
      </button>
    </fieldset>
  </form>
  </div>

  </body>
</html>
