<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style media="screen">
    body{
      background-color: #B2DFDB;
    }
    .container{
      border: 1px solid black;
      background-color: #4DB6AC ;
      margin: auto;
    }
    .search{
      border: 1px solid black;
      width: 850px;
      height: 60px;
    }
    a{
      color: black;
    }
    .order-table{
      border: 1px solid #B2DFDB;
    }

    .page-link{
      margin-left: 350px;
    }
    </style>
  </head>
  <body>
    <div class="container" id="wrapper">
      <nav>
        <div class="nav-wrapper teal darken-1">
          <!-- top nav -->
          <a href="#" class="brand-logo">Admin Dashboard</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/order_list">Orders</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/log_out"><i class="material-icons">cancel</i></a></li>
          </ul>
        </div>
      </nav>
      <nav>
        <div class="nav-wrapper teal lighten-2">
          <form action="#">
          <!-- seach engine -->
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
      <a href="/addnew" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Product</a>
      <div class="product-table">
        <!-- table for all the products -->
        <table>
          <thead>
            <tr>
              <td>ID</td>
              <td>Name</td>
              <td>Inventory Count</td>
              <td>Quanity Sold</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            {% for entry in products%}
            <tr>
              <td>{{entry.id}}</td>
              <td>{{entry.name}}</td>
              <td>{{entry.inventory}}</td>
              <td>{{entry.sold}}</td>
              <td><a href="/edit/{{entry.id}}" class="waves-effect waves-light btn"><i class="material-icons left">mode_edit</i></a>
                  <a href="/delete/{{entry.id}}" class="waves-effect waves-light btn"><i class="material-icons left">delete</i></a>

              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>

  </body>
</html>
