<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guilty Pleasure</title>
    {% load static %}
    {% load mathfilters %} 
    <link rel="stylesheet" type="text/css" href="{% static 'guiltypleasure/css/style.css' %}" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  </head>
  <body>
    <header>
       <div class="container">
          <nav>
             <div class="nav-wrapper black">
                <a href="/"><img src="../../static/guiltypleasure/images/GuiltyPleasures.jpg" height="100%"></a>
                <ul class="right hide-on-med-and-down">
                   <li><a href="/log_reg"><i class="material-icons">account_circle</i></a></li>
                   <li><a href="/customer_logout"><i class="material-icons">cancel</i></a></li>
                   <li><a href="/cart"><i class="material-icons">shopping_cart</i></a></li>
                </ul>
             </div>
          </nav>
       </div>
    </header>
<main>

    
     <div class="container white">
        <div class="white">
          <table>
            <thead>
            
              
              <td>Item</td>
              <td>Price</td>
              <td>Quantity</td>
              <td>Total</td>
            </th>
            </thead>
              <tbody>
              {% for entry in all_data %}
                <tr>
                  <td>{{entry.name}}</td>
                  <td>{{entry.price}}</td>
                  <td>{{entry.quantity}}</td>
                  <td>${{entry.cost}}</td>
                </tr>
              {% endfor %}
                
              
              </tbody>
          </table>
          <div class="white">
            Total:${{display_total}}<br>
          </div>
        </div>
      </div>
  <div class="container white">
    <h4>Shipping Information</h4>
    <script type="text/javascript">
    function FillBilling(f) {
      if(f.billingtoo.checked == true) {
        f.billing_first_name.value = f.first_name.value;
        f.billing_last_name.value = f.last_name.value;
        f.billing_address_line1.value = f.address_line1.value;
        f.billing_address_line2.value = f.address_line2.value;
        f.billing_city.value = f.city.value;
        f.billing_state.value = f.state.value;
        f.billing_zipcode.value = f.zipcode.value;
      }
    };
    </script>
    <form action="/place_order" method="POST">
      First Name: <input type="text" name="first_name">
      Last Name: <input type="text" name="last_name">
      Address: <input type="text" name="address_line1">
      Address 2: <input type="text" name="address_line2">
      City: <input type="text" name="city">
      State: <input type="text" name="state">
      Zipcode: <input type="text" name="zipcode">

      <h4>Billing Information</h4>
      <p>
      <input class='browser-default' type="checkbox" name="billingtoo" onclick="FillBilling(this.form)" id="test5" />
      <label for="test5">Same as Shipping</label>
      </p>
      First Name: <input type="text" name="billing_first_name">
      Last Name: <input type="text" name="billing_last_name">
      Address: <input type="text" name="billing_address_line1">
      Address 2: <input type="text" name="billing_address_line2">
      City: <input type="text" name="billing_city">
      State: <input type="text" name="billing_state">
      Zipcode: <input type="text" name="billing_zipcode">
      Card: <input type="text" name="card">
      Security Code: <input type="text" name="security_code">
      Expiration: <input type="date" name="expiration">
      <input type="submit" name="submit">
      <a class="btn waves-effect waves-light deep-orange darken-4" href="/">Continue Shopping</a>
      <a class="btn waves-effect waves-light deep-orange darken-4" href="/place_order">Place Order</a>
      {% csrf_token %}
</form>
      <form action="/pay" method="POST">
       <script
         src="https://checkout.stripe.com/checkout.js" class="stripe-button"
         data-key="pk_test_aOlFAI0mfZ6MvsfQvHsYTiGX"
         data-amount="{{ amount }}"
         data-name="Guilty Pleasure"
         data-description="Widget"
         data-locale="auto"
         data-zip-code="true">
       </script>
     </form>
			{% csrf_token %}
		</form>
	</div>
</main>
<footer class="page-footer black">
  <div class="container black">
     <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
     </div>
  </div>
</footer>
</body>
</html>
