<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guilty Pleasure</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'guiltypleasure/css/style.css' %}" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  </head>
  <body>
    <header>
    <div class="container">
      <nav>
         <div class="nav-wrapper black">
            <a href="/"><img src="../../static/guiltypleasure/images/GuiltyPleasures.jpg" height="100%"></a>
            <ul class="right hide-on-med-and-down">
               <li><a href="/log_reg"><i class="material-icons">account_circle</i></a></li>
               <li><a href="/customer_logout"><i class="material-icons">cancel</i></a></li>
               <li><a href="/cart"><i class="material-icons">shopping_cart</i></a></li>
            </ul>
         </div>
      </nav>
    </header>
    <main>
      <div class="container white" id="signin">
        	<div class="col s4" id="register">
            <fieldset>
              {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
        		<legend><h4>Register</h4></legend>
        		<form action="/register" method="POST">
        			First Name: <input type="text" name="first_name">
        			Last Name: <input type="text" name="last_name">
        			Email: <input type="text" name="email">
        			Password: <input type="password" name="password">
        			Confirm Password: <input type="password" name="passconf">
              <button class="btn waves-effect waves-light deep-orange darken-4" type="submit" name="action">Register
              <i class="material-icons right"></i>
              </button>
        			{% csrf_token %}
        		</form>
          </fieldset>
        	</div>
          <div class="col s4" id="login">
            <fieldset>
            <legend><h4>Login</h4></legend>
            <form action="/customer_login" method="POST">
              Email: <input type="text" name="email">
              Password: <input type="password" name="password">
              <button class="btn waves-effect waves-light deep-orange darken-4" type="submit" name="action">Login
              <i class="material-icons right"></i>
              </button>
              {% csrf_token %}
            </form>
          </fieldset>
          </div>
        </div>
    </div>
  </main>
  <footer class="page-footer black">
    <div class="container black">
       <div class="row">
          <div class="col l6 s12">
            <div class="col s6">
              <h5 class="white-text">Founders</h5>
              <ul class='white-text'>
                <li><a href="http://www.blogcdn.com/blog.moviefone.com/media/2013/05/r-edward-furlong-terminator-2-large570.jpg">Crystabel's Fan Club</a></li>
                <li><a href="http://i.dailymail.co.uk/i/pix/2015/08/13/13/2B545FFF00000578-3174638-image-a-11_1439467705433.jpg">Jake's Fan Club</a></li>
                <li><a href="http://s2.quickmeme.com/img/f7/f71beaed2b2a0d18a081fe28448c68ec43cc052c8c1539addfdaeede78e59800.jpg">Loc's Fan Club</a></li>
                <li><a href="http://tshirtsonfilm.com/wp-content/uploads/2014/11/Pulp-Fiction-%E2%80%93-UC-Santa-Cruz-Banana-Slugs-T-Shirt1.jpg">Sean's Fan Club</a></li>
              </ul>
            </div>
            <div class="col s6">
              <h5 class="white-text">Co-Founders</h5>
              <ul class='white-text'>
                <li><a href="http://mylittlepony.hasbro.com/en-us">Chris' Fan Club</a></li>
                <li><a href="https://gyazo.com/04fb2261a67747d07d81daae5d1aa170">Eduardo's Fan Club</a></li>
                <li><a href="http://www.hoodedutilitarian.com/wp-content/uploads/2015/03/vanilla-ice-9.jpg">Kelvin's Fan Club</a></li>
                <li><a href="https://i.ytimg.com/vi/nXtIUXXLGPc/maxresdefault.jpg">Lance's Fan Club</a></li>
                <li><a href="http://67.media.tumblr.com/b6a4c5975d65f946e3bd236f3efc650b/tumblr_no8m2sSZGL1tyqhp5o1_1280.jpg">Kevin's Fan Club</a></li>
              </ul>
            </div>
          </div>
       </div>
    </div>
  </footer>
  </body>

</html>
