<!DOCTYPE html>
<html>
<head>
	<title>Show Product</title>
	{% load mathfilters %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'guiltypleasure/css/style.css' %}" media="screen" title="no title" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>
<body>
	<header>
		 <div class="container">
				<nav>
					 <div class="nav-wrapper black">
							<a href="/"><img src="../../static/guiltypleasure/images/GuiltyPleasures.jpg" height="100%"></a>
							<ul class="right hide-on-med-and-down">
								 <li><a href="/log_reg"><i class="material-icons">account_circle</i></a></li>
								 <li><a href="/customer_logout"><i class="material-icons">cancel</i></a></li>
								 <li><a href="/cart"><i class="material-icons">shopping_cart</i></a></li>
							</ul>
					 </div>
				</nav>
		 </div>
	</header>
<main>
	<div class="container white">
		<div class="row">
		<div class="col s12">
			<h4>{{product.name}}</h4>
			<a class="btn waves-effect waves-light deep-orange darken-4" href="/">Go Back</a>
			<div class='col s6' id="show-image">
					<img src='../../{{image}}' style='height: 100%; width: 100%; object-fit: contain'/>
			</div>
			<div class="container white col s6">
					<h3>{{product.description}} </h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<form action="/add_to_cart/{{product.id}}" id="post-form" class="right" method="POST">
					{% csrf_token %}
						<select name="quantity" id="quantity" class="browser-default">
							<option value="" disabled selected>Quantity</option>
							<option value="1">1 {{product.price|mul:1}}</option>
							<option value="2">2 {{product.price|mul:2}}</option>
							<option value="3">3 {{product.price|mul:3}}</option>
						</select>
					<input type="submit" name="Add to Cart" value='Add To Cart' class="btn waves-effect waves-light deep-orange darken-4" onclick="Materialize.toast('Item Added to Cart',2000)">
					</form>
			 </div>
		 </div>


		</div>

		<h5>Similar Items</h5>
		<div class="row">
		 	{% for product in similar %}
		 		<div class="col s2">
		 			<div class="products">
		 			<a href="/show_product/{{product.product.id}}"><img src="../../{{product.url}}" style='height: 55%; width: 55%; object-fit: contain'></a>
						<br>{{product.product.price}}
					</div>
				</div>
      <!-- {{product.price}}
      {{product.name}} -->
			{% endfor %}
		</div>
	</div>
</main>

<footer class="page-footer black">
  <div class="container black">
     <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Co-Founders</h5>
            <ul class='white-text'>
              <li><a href="http://mylittlepony.hasbro.com/en-us">Chris' Fan Club</a></li>
              <li><a href="https://gyazo.com/04fb2261a67747d07d81daae5d1aa170">Eduardo's Fan Club</a></li>
              <li><a href="http://www.hoodedutilitarian.com/wp-content/uploads/2015/03/vanilla-ice-9.jpg">Kelvin's Fan Club</a></li>
              <li><a href="https://i.ytimg.com/vi/nXtIUXXLGPc/maxresdefault.jpg">Lance's Fan Club</a></li>
              <li><a href="http://67.media.tumblr.com/b6a4c5975d65f946e3bd236f3efc650b/tumblr_no8m2sSZGL1tyqhp5o1_1280.jpg">Kevin's Fan Club</a></li>
            </ul>
        </div>
     </div>
  </div>
</footer>
</body>
</html>
